Application 
{  
	themeColor: #0071BD;
	backgroundGradientAlphas: 0.62, 0.26;
}

/*The image for your logo is 586x574 pixels. No other size is currently supported so resize your logo accordingly. The logo will always appear in the lower right corner. */
BrandingLogo
{
	backgroundImage: Embed(source="assets/img/z.png");
	backgroundSize: "100%";
}

@font-face {
	fontFamily: "Neogrey";
	src:url("assets/swf/fonts.swf");
}      

.videoWindowName
{
	fontSize: 18;
	color: #ffffff;
}

.publishWindow
{
	cornerResizeImg: Embed(source="assets/img/videoBackground.png");	
	cornerRadius: 0;
	borderAlpha: 0;
}

ChatWindow
{
	borderThicknessRight: 25;	
}

VideoDock
{
	backgroundColor: #ECF1F4;
	backgroundAlpha: 1.0;
	cornerRadius: 15;
	borderAlpha: 0;
	borderColor: #FFFFFF;
	borderThicknessLeft: 25;
	headerHeight: 80;
}

UserAreaDock
{
	backgroundColor: #ECF1F4;
	backgroundAlpha: 1.0;
	cornerRadius: 15;
	borderAlpha: 0;
	borderColor: #FFFFFF;
	borderThicknessRight: 25;
	headerHeight: 80;
}

.dockTitle 
{
	fontFamily: Neogrey;
	fontSize: 24;
	color: #000000;
	textAlign: center;
}

.videoDockFocus
{
	borderStyle: solid;
	borderColor: #ffffff;
	borderAlpha: 1;	
	backgroundColor: #ECF1F4;
	backgroundAlpha: 1.0;
}

.videoDockNoFocus
{
	borderStyle: solid;
	borderColor: #ffffff;
	borderAlpha: 1;
	backgroundColor: #ECF1F4;
	backgroundAlpha: 1.0;
}

MainToolbar
{
	paddingTop: 0;
	borderStyle: none;
	borderColor: #FFFFFF;
	borderAlpha: 0;

}

MDICanvas 
{
	backgroundColor: #0071BD;
	backgroundAlpha: 0;
}


ToolbarButton 
{
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors: #5f89b9, #697182, #ffffff, #eeeeee;
}

MDIWindow
{
	headerHeight: 30;
	
	roundedBottomCorners: true;
	cornerRadius: 4;
	
	backgroundAlpha: 1;
	backgroundColor: #0071BD;
	/*backgroundImage: Embed(source="assets/swf/Blue.swf", symbol="Window_Background");*/
	backgroundSize: '100%';
	
	dropShadowEnabled: false;
	titleStyleName: "mypanelTitle";
	
	cornerResizeImg: Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
	cornerResizeWidth: 15;
	cornerResizeHeight: 15;
	cornerResizePaddingRight: 2;
	cornerResizePaddingBottom: 2;
	
	controlButtonWidth: 10;
	controlButtonHeight: 10;
	controlButtonGap: 4;
	
	closeBtnStyleName: 				"closeBtnFocus";
	closeBtnStyleNameNoFocus: 		"closeBtnNoFocus";
	maximizeBtnStyleName:			"increaseBtnFocus";
	maximizeBtnStyleNameNoFocus:	"increaseBtnNoFocus";
	minimizeBtnStyleName:			"decreaseBtnFocus";
	minimizeBtnStyleNameNoFocus:	"decreaseBtnNoFocus";
	restoreBtnStyleName:			"minimizeBtnFocus";
	restoreBtnStyleNameNoFocus:		"minimizeBtnNoFocus";
	
}

.mdiWindowFocus 
{
	borderStyle: solid;
	borderColor: #ffffff;
	borderAlpha: 1;
	borderThickness: 2;
	borderThicknessLeft: 6;
	borderThicknessTop: 5;
	borderThicknessBottom: 6;
	borderThicknessRight: 6;
}

.mdiWindowNoFocus 
{

	borderStyle: solid;
	borderColor: #0071BD;
	borderAlpha: 1;
	borderThickness: 2;
	borderThicknessLeft: 6;
	borderThicknessTop: 5;
	borderThicknessBottom: 6;
	borderThicknessRight: 6;
}

.mypanelTitle 
{
	fontFamily: Arial;
	fontSize: 12;
	fontWeight: bold;
	color: #ffffff;
}


.closeBtnFocus
{
	upSkin:        Embed('assets/img/closeButton.png');
	overSkin:      Embed('assets/img/closeButton.png');
	downSkin:      Embed('assets/img/closeButton.png');
	disabledSkin:  Embed('assets/img/closeButton.png');
}

.closeBtnNoFocus
{
	upSkin:        Embed('assets/img/closeButton.png');
	overSkin:      Embed('assets/img/closeButton.png');
	downSkin:      Embed('assets/img/closeButton.png');
	disabledSkin:  Embed('assets/img/closeButton.png');
}


.increaseBtnFocus
{
	upSkin:        Embed('assets/img/increaseButton.png');
	overSkin:      Embed('assets/img/increaseButton.png');
	downSkin:      Embed('assets/img/increaseButton.png');
	disabledSkin:  Embed('assets/img/increaseButton.png');
}

.increaseBtnNoFocus
{
	upSkin:        Embed('assets/img/increaseButton.png');
	overSkin:      Embed('assets/img/increaseButton.png');
	downSkin:      Embed('assets/img/increaseButton.png');
	disabledSkin:  Embed('assets/img/increaseButton.png');
}


.decreaseBtnFocus 
{
	upSkin:        Embed('assets/img/decreaseButton.png');
	overSkin:      Embed('assets/img/decreaseButton.png');
	downSkin:      Embed('assets/img/decreaseButton.png');
	disabledSkin:  Embed('assets/img/decreaseButton.png');
}

.decreaseBtnNoFocus 
{
	upSkin:        Embed('assets/img/decreaseButton.png');
	overSkin:      Embed('assets/img/decreaseButton.png');
	downSkin:      Embed('assets/img/decreaseButton.png');
	disabledSkin:  Embed('assets/img/decreaseButton.png');
}


.minimizeBtnFocus 
{
	upSkin:        Embed('assets/img/minimizeButton.png');
	overSkin:      Embed('assets/img/minimizeButton.png');
	downSkin:      Embed('assets/img/minimizeButton.png');
	disabledSkin:  Embed('assets/img/minimizeButton.png');
}

.minimizeBtnNoFocus 
{
	upSkin:        Embed('assets/img/minimizeButton.png');
	overSkin:      Embed('assets/img/minimizeButton.png');
	downSkin:      Embed('assets/img/minimizeButton.png');
	disabledSkin:  Embed('assets/img/minimizeButton.png');
}


.resizeHndlr 
{
	upSkin:        Embed('assets/img/resizeHandler.png');
	overSkin:      Embed('assets/img/resizeHandler.png');
	downSkin:      Embed('assets/img/resizeHandler.png');
	disabledSkin:  Embed('assets/img/resizeHandler.png');
}